- var number = require('./number')
- var slug = require('slug')

mixin elem(e)
  - var a = $att(e, attributes)
  #{e.name()}&attributes(a): +children(e)
    block

mixin part(e)
  +elem(e)(partNumber=number.partNumber(e))

mixin children(e, opts)
  each c in e.childNodes()
    case c.type()
      when 'text'
        if c.text().trim().length > 0
          = c.text()
      when 'cdata'
        :cdata
          !{c.text()}
      when 'comment'
        != "<!--" + c.text() + "-->"
      when 'element'
        - var nm = c.name()
        if jade_mixins[nm] != null
          +#{nm}(c)
        else if number.isPart(nm)
          +part(c)
        else
          +elem(c, opts)

mixin section(e)
  +elem(e)(sectionNumber="s-" + number.section(e))

mixin name(e)
  +elem(e)(slugifiedName="n-" + slug(e.text()).toLowerCase())

mixin figure(e)
  +elem(e)(figureNumber="f-" + number.sequentialNumber(e))

mixin table(e)
  +elem(e)(tableNumber="t-" + number.sequentialNumber(e))

doctype xml
+elem($root())
