- var xref = require('./xref')

include lib.jade

mixin elem(e)
  - var a = $att(e, attributes)
  - a = $nsDecls(e, a)
  #{$qname(e)}&attributes(a)
    +children(e)
    block

mixin xref(e)
  +elem(e)(derivedContent=xref.invent(e))
  
doctype xml
+elem($root())
