body {
  font-family: Palatino, serif;
  margin: 0 5% 0 5%;
  background-color: #fff;
  color: #000;
}
h4, h5, h6 {
  font-size: 16px;
}
#document {
  float: right;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  margin: 20px;
  background: transparent;
  background-color: #eee;
}
#document dl {
  margin: 0;
  padding: 0;
}
#document dt {
  margin-top: 2px;
  font-weight: bold;
  float: left;
  clear: left;
  text-align: right;
  width: 5.5em;
}
#document dd {
  margin-top: 2px;
  float: left;
  margin-left: 8px;
  display:table-row;
}
#toc ul {
  list-style-type: none;
}
.section {
  clear: both;
}
.rfc2119 {
  color: #666;
  font-weight: bold;
}
code, .code {
  background-color: #eee;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 90%;
  line-height: 1.15em;
}
.code {
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
}
blockquote {
  background-color: #eee;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
}
figure blockquote {
  margin-left: 0;
}
figure .code {
  margin-left: 0;
}
figcaption {
  padding-top: 10px;
  padding-bottom: 10px;
}
.code + * {
  clear: both;
}
@media screen {
  .code {
    overflow-x: auto;
    max-width: 100%;
  }
}
.todo {
  color: red;
}
a.pilcrow {
  color: #999;
  text-decoration: none;
  visibility:hidden;
  font-family: Palatino, serif;
}
p:hover a.pilcrow {
  visibility: visible;
}
td:hover a.pilcrow {
  visibility: visible;
}
li:hover a.pilcrow {
  visibility: visible;
}
div#toc {
  page-break-before: always;
}
div.section li:not(.ref) {
  text-align: justify;
  padding: 4px;
}
p {
  text-align: justify;
  orphans: 3;
  widows: 3;
  line-height: 120%;
}
li {
  line-height: 120%;
}
li.ref {
  list-style-type: none;
  text-indent: -50px;
  padding-left: 50px;
  padding-bottom: 10px;
}
@media print {
  div#toc {
    page-break-before: always;
  }
  pre {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
  h2+*, h3+*, h4+*, h5+*, h6+* {
    page-break-before: avoid;
  }
}

table {
  border-collapse: collapse;
}
th {
  border: solid thin;
  text-align: center;
  background-color: #ccc;
}
td {
  border: solid thin;
  padding-left: 5px;
  padding-right: 5px;
}
